* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f0ed;
    color: #86705b;
  }
  
Button {
    border: 2px solid;
    border-color:  #86705b;
    background-color: #f3f0ed;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }