* {
  box-sizing: border-box;
}

$color: steelblue;

.my-flix {
  color: $color;
}

h1 {
  color: rgb(73, 9, 9);
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 4em;
  text-shadow: 0 0 5px rgb(199, 188, 188), 0 0 5px rgb(255, 255, 255),
    0 0 5px rgb(63, 17, 17), 0 0 5px #f1f1f1, 0 0 5px #f8f8f8, 0 0 5px #000000;
}

h2 {
  color: lightgray;
  font-family: "Lato", sans-serif;
  text-align: center;
}

p {
  color: white;
  font-family: "Lato", sans-serif;
}

.columns {
  column-count: 2;
  column-gap: 40px;
}

html {
  background-color: grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 50%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.movie-poster {
  text-align: center;
}

.movie-view {
  color: white;
}

.label {
  color: white;
}

.font {
  background-color: rgb(99, 99, 99);
  align-items: center;
}

.movie-card {
  color: white;
}

.loginForm.form-label {
  display: inline-block;
  text-align: center;
  padding: 4px;
}

label,
input {
  /* In order to define widths */
  display: block;
  align-items: center;
  justify-content: center;
}

.form-label {
  color: white;
  margin: 0 auto;
  text-align: center;
}

#formUsername.form-control {
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

#formPassword.form-control {
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

input.form-control {
  width: 35%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.registration-view {
  margin: 0 auto;
}

body {
  text-align: center;
}

.navbar-collapse {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.logout {
  width: 100%;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 0px 30px 7px rgba(245, 199, 0, 0.2);
}

.form-control {
  width: 20%;
  text-align: center;
  border-radius: 2em;
}

.card-img-top {
  margin-top: 20px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;

  background: #000000;
  background-position: right -15px;
  border: 5px solid #460606;
  border-radius: 20px;
  box-shadow: 0 0 10px #b37562;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}

.movie-description.card-text {
  justify-content: right;
}

.card-body {
  position: relative;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  padding: 20%;
  justify-content: right;
}

.card-body:hover {
  border-color: white;
  text-shadow: 0 0 1em rgb(182, 181, 181);
  color: #c0bfbf;
}

.value {
  width: 5%;
  justify-content: center;
}

.btn-light {
  background-color: rgb(66, 2, 2);
  border-color: rgb(95, 86, 86);
  color: white;
  padding: 0.35em 1.2em;
}

.btn-light:hover {
  border-color: white;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #c0bfbf;
}

button {
  margin: 15px 0;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(66, 2, 2);
  border-color: rgb(95, 86, 86);
  color: white;
  padding: 0.35em 1.2em;
  transition: 0.5s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  overflow: hidden;
}

.btn:hover {
  border-style: outset;
  border-color: #979090;
  color: #e6e6e6;
  opacity: 1;
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
}

.value {
  color: white;
}

.movie-title {
  color: lightgray;
  background-color: rgb(0, 0, 0);
}

.movie-poster {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.h5 {
  color: white;
}

#updateFormPassword {
  width: 70px;
}

#updateFormUsername {
  width: 70px;
}

#updateFormEmail {
  width: 90px;
}

#updateDateOfBirth {
  width: 150px;
}

.director-font {
  color: white;
  background-color: rgb(0, 0, 0);
}

.container {
  color: rgb(34, 2, 2);
  list-style: none;
  display: flex;
  margin: auto;
  background-color: rgb(0, 0, 0);
}

.movie-genre {
  text-align: center;
  margin: 0 auto;
}

.movie-director {
  text-align: center;
  margin: 0 auto;
}

.movie-description {
  font-style: normal;
  font-family: "Lato", sans-serif;
  text-justify: inter-word;
  padding: 10px;
}

.genre-view {
  font-style: normal;
  font-family: "Lato", sans-serif;
}

.genre-description {
  color: white;
}
.director-font {
  font-style: normal;
  font-family: "Lato", sans-serif;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}